{% extends 'wg_early_bird_template/base.html' %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Early Bird Portfolio</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->


	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->
	<div class="container sixteen columns">

		<header>
			<div class="eight columns heading">
				<a href="#" class="logo">Early Bird.</a> <span class="subheader"> | Flickr Portfolio Feed</span>
			</div>

			<nav class="eight columns">
				<ul>
					<li>Portfolio Feed:</li>
					<li><a href="{% url 'create_new_task' %}">Hosted</a></li>
					<li><a href="instagram.html">Instagram</a></li>
					<li><a href="flickr.html" class="active">Flickr</a></li>
					<li><a href="dribbble.html">Dribbble</a></li>
				</ul>
			</nav>
		</header>

		<!--Begin Portfolio Items from Dribbble-->
		<ul id="flickr-portfolio" class="flickr-portfolio portfolio-section clearfix"></ul>

{% block footer %}

{% endblock %}
		</div><!-- container -->

	<script>
		// Fullscreen Background Image
		$.backstretch("images/filler/wood-bg.jpg");
	</script>

<!-- End Document
================================================== -->
</body>
</html>